name: "Build"

on:
  workflow_call:
    inputs:
      version:
        description: "Build Version"
        type: string
        required: true

jobs:
  build:
    name: "Build - ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        include:
          #- os: macos-latest
          #  name: macos-arm64
          - os: macos-15-intel
            name: macos-amd64
          - os: ubuntu-latest
            name: linux-amd64
          #- os: ubuntu-24.04-arm
          #  name: linux-arm64
          - os: windows-latest
            name: windows-amd64

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Install task"
        uses: jaxxstorm/action-install-gh-release@v2.1.0
        with:
          repo: go-task/task

      - name: "Download Artifact"
        uses: actions/download-artifact@v7
        with:
          name: client
          path: dist/client

      - name: "Generate Assets"
        run: |
          task manifest

      - name: "Debug Artifact"
        continue-on-error: true
        shell: bash
        run: ls -lAhR dist

      - name: "Build Windows"
        if: ${{ runner.os == 'Windows' }}
        env:
          version: ${{ inputs.version }}
        run: |
          echo "Building Version: $Env:version"
          iscc.exe "/DMyAppVersion=$Env:version" installer.iss

      - name: "Build Linux"
        if: ${{ runner.os == 'Linux' }}
        run: |
          bash assets/build-linux.sh

      - name: "Build macOS"
        if: ${{ runner.os == 'macOS' }}
        # noinspection HttpUrlsUsage
        run: |
          curl http://s.sudre.free.fr/Software/files/Packages.dmg -o Packages.dmg
          hdiutil attach Packages.dmg
          sudo installer -pkg "/Volumes/Packages 1.2.10/Install Packages.pkg" -target /
          hdiutil detach "/Volumes/Packages 1.2.10"
          bash assets/build-mac.sh

      - name: "Debug Output"
        continue-on-error: true
        shell: bash
        run: ls -lAhR out

      - name: "Upload to Actions"
        uses: actions/upload-artifact@v6
        with:
          name: linux-installer
          path: out

      - name: "Upload Release"
        if: ${{ github.event_name == 'release' }}
        uses: cssnr/upload-release-action@v1
        with:
          globs: out/*
          overwrite: true
