name: "Windows"

on:
  workflow_call:
    inputs:
      version:
        description: "Build Version"
        type: string
        required: true

jobs:
  build:
    name: "Build"
    runs-on: windows-latest
    timeout-minutes: 15

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Download Artifact"
        if: ${{ !github.event.release.prerelease }}
        uses: actions/download-artifact@v7
        with:
          name: client
          path: dist/client

      - name: "Generate Manifest"
        run: python assets/manifest.py

      - name: "Debug Artifact"
        continue-on-error: true
        shell: bash
        run: ls -lAhR dist

      - name: "Inno Setup"
        env:
          version: ${{ inputs.version }}
        run: |
          echo "Building Version: $Env:version"
          iscc.exe "/DMyAppVersion=$Env:version" client.iss

      - name: "Debug Output"
        continue-on-error: true
        shell: bash
        run: ls -lAhR out

      - name: "Upload to Actions"
        uses: actions/upload-artifact@v6
        with:
          name: windows-installer
          path: out

      - name: "Upload Release"
        if: ${{ github.event_name == 'release' }}
        uses: cssnr/upload-release-action@v1
        with:
          globs: out/*
          overwrite: true
