name: "macOS"

on:
  workflow_call:
    inputs:
      version:
        description: "Build Version"
        type: string
        required: true

jobs:
  build:
    name: "Build"
    runs-on: macos-15-intel
    timeout-minutes: 15

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Install task"
        uses: jaxxstorm/action-install-gh-release@v1.10.0
        with:
          repo: go-task/task

      - name: "Download Artifact"
        if: ${{ !github.event.release.prerelease }}
        uses: actions/download-artifact@v7
        with:
          name: client
          path: dist/client

      - name: "Generate Assets"
        run: |
          task manifest
          task icon

      - name: "Debug Artifact"
        continue-on-error: true
        shell: bash
        run: ls -lAhR dist

      - name: "Setup Packages"
        # noinspection HttpUrlsUsage
        run: |
          curl http://s.sudre.free.fr/Software/files/Packages.dmg -o Packages.dmg
          hdiutil attach Packages.dmg
          sudo installer -pkg "/Volumes/Packages 1.2.10/Install Packages.pkg" -target /
          hdiutil detach "/Volumes/Packages 1.2.10"

      - name: "macOS Packages"
        run: |
          bash assets/build-mac.sh

      - name: "Debug Output"
        continue-on-error: true
        shell: bash
        run: ls -lAhR out

      - name: "Upload to Actions"
        uses: actions/upload-artifact@v6
        with:
          name: linux-installer
          path: out

      - name: "Upload Release"
        if: ${{ github.event_name == 'release' }}
        uses: cssnr/upload-release-action@v1
        with:
          globs: out/*
          overwrite: true
